/*!
 * DokuWiki Bootstrap Wrapper Plugin
 *
 * Home     http://dokuwiki.org/plugin:bootswrapper
 * Author   Giuseppe Di Terlizzi <giuseppe.diterlizzi@gmail.com>
 * License  GPL 2 (http://www.gnu.org/licenses/gpl.html)
 */
.bs-wrap-button[data-btn-disabled="1"],
.btn.disabled {
 cursor: not-allowed;
}

.bs-wrap .nav-tabs {
  margin-bottom: 15px;
}

.bs-wrap-modal[data-remote] .modal-content {
  padding: 0 15px;
}

.bs-wrap-accordion .panel-heading a {
  color: inherit;
  text-decoration: none;
}

/*----------- Layout shfit fixes ------------*/
/*Fix to reduce layout shifts on accordion loading*/
.bs-wrap-accordion > .panel:first-child > .panel-body {
  display: block;
}

.bs-wrap-accordion > .panel > .panel-body {
  display: none;
}
/*Fix for list group*/
.bs-wrap-list-group > ul:not(.list-group) {
  padding-left: 0;
  margin-bottom: 0;
}
.bs-wrap-card .bs-wrap-list-group > ul:not(.list-group) > li {
  border-left: 0;
  border-right: 0;
}
.bs-wrap-list-group > ul > li {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: inherit;
  border: 1px solid #c5c5c5;
}


/*Fix to reduce layout shifts on nav lists*/
.bs-wrap-nav ul:not(.nav-collapse) .level1.node > ul {
  display: none;
}

.bs-wrap-nav ul:not(.nav-collapse) .level1.node.open > ul.dropdown-menu {
  display: block;
}

.bs-wrap-nav[data-nav-type="tabs"] > ul {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-left: 0;
}

.bs-wrap-nav > ul.nav-justified {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.bs-wrap-nav > ul.nav-justified > li {
  width: auto;
  word-wrap: break-word;
  flex: 1 1 auto;
}

.bs-wrap-nav > ul > li > .curid > a {
  font-weight: normal;
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
  display: flex;
  margin-bottom: -1px;
  line-height: 1.42857143;
  margin-right: 2px;
  border: 1px solid transparent;;
  border-bottom: 1px solid #ddd;
  flex: 1 1 auto;
  justify-content: center;
}

/*temporary class before anchor link is placed*/
.bs-wrap-nav a.dropdown-toggle:not(.bs-wrap-caret):after {
  content: '';
  display: inline-block;
  width: 10px;
}

@media (max-width: 576px) {
  .bs-wrap-nav > ul.nav-justified > li {
    width: 100%;
  }
  .bs-wrap-nav > ul.nav-justified >.active>a {
    border-bottom: 1px solid #ddd;
  }
  .bs-wrap-nav > ul.nav-justified{
   border-bottom-color: transparent;
  }
  .bs-wrap-nav > .nav-tabs.nav-justified>.active>a {
    border-bottom: 1px solid #ddd;
  }
}

/*Tabbed content*/
.bs-wrap-nav > .bs-wrap-tab-pane:not(:first-of-type) {
  display: none;
}

/*Fixes for jumbotron heading*/
.jumbotron > .page-header {
  border-bottom: none;
}
/*temporary class before anchor link is placed*/
.dw-content-page .jumbotron > .page-header:after {
  content: '';
  display: inline-block;
  color: transparent;
  width: 63px;
}

/*Fixes for icons. icons start in span and get changed to svg*/
span.iconify {
  display: inline-block;
  height: 12px;
  width: 12px;
}
span.iconify + a {
  display: inline-block;
}


/*Fixed for carousel*/
.bs-wrap-carousel > .carousel-inner img:first-of-type,
.bs-wrap-carousel > .carousel-inner .lazyImage:first-child {
  display: block;
}

.bs-wrap-carousel > .carousel-inner img,
.bs-wrap-carousel > .carousel-inner .lazyImage {
  display: none;
}

/*----------- End Layout shfit fixes ------------*/


/*----------- Carousel styles --------------------*/
.bs-wrap-carousel {
  margin: auto;
  margin-bottom: 20px;
  width: fit-content;
  width: -moz-fit-content;
  height: fit-content;
  height: -moz-fit-content;
}

/*Blending carousel in slide*/
.blend > .carousel-inner > .bs-wrap-slide.item {
    opacity:1;
}
 .blend > .carousel-inner > .bs-wrap-slide.item.active.right, 
 .blend > .carousel-inner > .bs-wrap-slide.item.next {
  left: 0;
  transition: opacity 0.7s ease-in-out;  
  opacity:0;
  transform: translate3d(0, 0, 0);
}
.blend > .carousel-inner > .bs-wrap-slide.item.active.left, .bs-wrap-slide.item.prev {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity:0;
  transform: translate3d(0, 0, 0);
}
.blend > .carousel-inner > .bs-wrap-slide.item.active, 
.blend > .carousel-inner > .bs-wrap-slide.item.next.left,  
.blend > .carousel-inner > .bs-wrap-slide.item.prev.right {
    left: 0;
    opacity:1;
}

/*Blending carousel no slide*/
.blend > .carousel-inner > .item {
    opacity:1;
}
.blend > .carousel-inner > .item.active.right, 
.blend > .carousel-inner > .item.next {
  left: 0;
  transition: opacity 0.7s ease-in-out;  
  opacity:0;
  transform: translate3d(0, 0, 0);
}
.blend > .carousel-inner > .item.active.left, 
.blend > .carousel-inner > .item.prev {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity:0;
  transform: translate3d(0, 0, 0);
}
.blend > .carousel-inner > .item.active, 
.blend > .carousel-inner > .item.next.left,  
.blend > .carousel-inner > .item.prev.right {
    left: 0;
    opacity:1;
}

/*-------------- End Carousel Styles ---------------*/

/* Bootstrap 3 Template */
aside ul.dropdown-menu {
  font-size: 1em;
  padding-left: 0 !important;
}


/*
 * Callouts (from Twitter Bootstrap Documentation)
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.bs-callout {
  overflow: hidden;
}


i.bs-callout-icon { font-size: 2em; }


.bs-callout-info    .bs-callout-icon { color: #5bc0de; }
.bs-callout-warning .bs-callout-icon { color: #f0ad4e; }
.bs-callout-danger  .bs-callout-icon { color: #d9534f; }
.bs-callout-success .bs-callout-icon { color: #5cb85c; }
.bs-callout-primary .bs-callout-icon { color: #428bca; }
.bs-callout-default .bs-callout-icon { color: #777; }


@media print {
  .bs-page-break {
    page-break-after: always;
  }
}

/*Extra colour classes*/
/*callout bg changes*/
.bg-primary-light { background: #cce5ff; }
.bg-grey { background-color:#eee }

/*Badges*/
.badge-info    { color:#fff  ; background-color: #17a2b8; }
.badge-warning { color:#212529; background-color: #ffc107; }
.badge-danger  { color:#fff; background-color: #dc3545; }
.badge-success { color:#fff; background-color: #28a745; }
.badge-primary { color:#fff; background-color: #007bff; }
.badge-default { color:#fff; background-color: #6c757d; }
.badge-light { color:#212529; background-color: #f8f9fa; }
.badge-dark { color:#fff; background-color: #343a40; }

/*Buttons*/
span.bs-wrap-button a.btn {
  margin-bottom: 0.3rem;
  }

/*Nav dropdowns*/
.bs-wrap-nav li {
  list-style: none;
}
/*.bs-wrap-nav ul.nav-collapse a.dropdown-toggle span.caret {
  transform: rotate(-180deg);
  transition: 0.2s ease-in-out;
}
.bs-wrap-nav ul.nav-collapse a.dropdown-toggle.collapsed span.caret {
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
}*/
.bs-wrap-nav .dropdown-toggle[data-toggle="collapse"],
.bs-wrap-accordion [data-toggle="collapse"] {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-word;
}
.bs-wrap-nav .dropdown-toggle[data-toggle="collapse"] {
  border: 1px solid #ddd;
  transition: 0.2s ease;
}
.plus-minus-toggle {
  cursor: pointer;
  height: 4px;
  position: relative;
  width: 10px;
  align-self: center;
  justify-content: end;
  margin-top: 4px;
  margin-left: 8px;
}
.plus-minus-toggle:before,
.plus-minus-toggle:after {
  background: #363636;
  mix-blend-mode: luminosity;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
  transition: transform 500ms ease;
  transform-origin: center;

}
.bs-wrap-nav .active > .collapsed .plus-minus-toggle:after,
.bs-wrap-nav .active > .collapsed .plus-minus-toggle:before{
  background: #fff;
}
.collapsed .plus-minus-toggle:before{
  transform: rotate(180deg);
}
.collapsed .plus-minus-toggle:after {
  transform: rotate(90deg);
}
.bs-wrap-nav ul.nav-collapse li > a.dropdown-toggle:not(.collapsed),
.bs-wrap-nav ul.nav-collapse li > a.dropdown-toggle:not(.collapsed):hover {
  color: #165ba8;
  background-color: #eee;
}

.bs-wrap-nav ul.nav-collapse li > ul{
  list-style: none;
  border-left: 1px solid #dddddd;
  margin-left: 2px;
}

.bs-wrap-nav .dropdown>.collapse>.active>a,
.bs-wrap-nav .dropdown>.collapsing>.active>a,  
.bs-wrap-nav .dropdown>.collapse>.active>a:focus, 
.bs-wrap-nav .dropdown>.collapse>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2780e3;
  outline: 0;
}

.bs-wrap-nav ul.nav-collapse li > ul a {
  margin: 2px 0px;
  padding: 5px 10px;
  border-radius: 4px;
  display: block;
}
.bs-wrap-nav ul.nav-collapse li > ul > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}


/*Ribbons*/
.ribbon {
  position: absolute;
  right: 5px;
  top: -2px;
  filter: drop-shadow(1px 2px 2px #7d7b7b);
  pointer-events: none;
}
.ribbon > .content {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  background: #2ca7d8 linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 0.8rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
  min-width: 20px;
  min-height: 30px;
  transition: clip-path 1s, padding 1s, background 1s;
}
.ribbon.slant-up > .content {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), 50% calc(100% - 6px), 0 100%);
}
.ribbon.slant-down > .content {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));
}
.ribbon.down > .content {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
}
.ribbon.up > .content {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
}
.ribbon.check > .content {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 40% 100%, 0 calc(100% - 12px));
}

/*Card and Panel List group fix*/
.bs-wrap-card > .bs-wrap-list-group,
.bs-wrap-panel > .bs-wrap-list-group{
  border-color: inherit;
}

.bs-wrap-card > .bs-wrap-list-group > .list-group,
.bs-wrap-panel > .bs-wrap-list-group > .list-group{
  margin-bottom: 0;
  border-color: inherit;
}

.bs-wrap-card > .bs-wrap-list-group > .list-group > .list-group-item:first-child,
.bs-wrap-panel > .bs-wrap-list-group > .list-group > .list-group-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bs-wrap-card > .bs-wrap-list-group > .list-group > .list-group-item,
.bs-wrap-panel > .bs-wrap-list-group > .list-group > .list-group-item{
  border-left: 0;
  border-right: 0;
  border-color: inherit;
}


/*Flex grid*/

.grid {
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px 0;
  margin-left: -15px;
  margin-right: -15px;
  clear: both;
  flex: 0;
}

/*Grid Panel flexbot addition*/
.bs-wrap-panel {
  position: relative;
}

.bs-wrap-grid > .bs-wrap-col > .bs-wrap-panel,
 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: ~"calc(100% - 20px)";
}


/*Flex secedit*/
.section_highlight {
  height: 100%;
}

.secedit {
  position: relative;
}

/*Card*/

/*Flex grid section edit fix*/
.bs-wrap-grid > .bs-wrap-col > .section_highlight {
  height: ~"calc(100% - 20px)";
}

.bs-wrap-grid > .bs-wrap-col > .bs-wrap-card {
  height: ~"calc(100% - 20px)";
}

.card {
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #d4d4d4;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  clear: both;
}

.card.no-border,
.panel.no-border {
  border: none;
}

.card-thumbnail ~ .card-heading {
  border-radius: 0;
}

.card-heading {
  padding: 0.8rem 1.25rem;
  background-color: #eaeaea;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: .4rem .4rem 0 0;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.card-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.card .card-thumbnail img.media {
  border-bottom: 1px solid #d4d4d4;
  border-radius: .4rem .4rem 0 0;
  margin: 0;
  width: 100% !important;
  background-color: #fff;
}

.card-body {
  padding: 0.8rem 1.25rem;
  margin-bottom: 0;
  height: 100%;
}

.card-footer {
  padding: 0.8rem 1.25rem;
  background-color: #eaeaea;
  border-top: 1px solid #d4d4d4;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 .4rem .4rem;
  height: 100%;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.card.card-link {
  box-shadow: 2px 1px 5px #d4d4d4;
  transition: 0.2s ease-in-out;
}

.card-link:hover{
  cursor: pointer;
  box-shadow: 3px 4px 15px #505050;
  transform: translateY(-3px);
}
/*#a2a2a2;*/

.card-link a:first-of-type {
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  line-height: 0; 
  font-size: 0;
  color: transparent; 
}

.card-link .btn_incledit {
  position: relative;
  z-index: 5;
}

/*Card types*/

/*Primary*/
.card-primary {
  border-color: #007bff;
}

.card-primary > .card-heading {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.card-primary > .card-footer {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.card-primary > .card-thumbnail img.media {
  border-color: #007bff;
}

/*Success*/
.card-success {
  border-color: #3fb618;
}

.card-success > .card-heading {
  color: #fff;
  background-color: #3fb618;
  border-color: #3fb618;
}

.card-success > .card-footer {
  color: #fff;
  background-color: #3fb618;
  border-color: #3fb618;
}

.card-success > .card-thumbnail img.media {
  border-color: #3fb618;
}

/*Info*/
.card-info {
  border-color: #17a2b8;
}

.card-info > .card-heading {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.card-info > .card-footer {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.card-info > .card-thumbnail img.media {
  border-color: #17a2b8;
}

/*Warning*/
.card-warning {
  border-color: #ffc107;
}

.card-warning > .card-heading {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.card-warning > .card-footer {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.card-warning > .card-thumbnail img.media {
  border-color: #ffc107;
}

/*Danger*/
.card-danger {
  border-color: #df382c;
}

.card-danger > .card-heading {
  color: #fff;
  background-color: #df382c;
  border-color: #df382c;
}

.card-danger > .card-footer {
  color: #fff;
  background-color: #df382c;
  border-color: #df382c;
}

.card-danger > .card-thumbnail img.media {
  border-color: #df382c;
}

/*USYD*/
.card-usyd,
.panel-usyd {
  border-color: #e64626;
}

.card-usyd > .card-heading,
.panel-usyd > .panel-heading {
  color: #fff;
  background-color: #e64626;
  border-color: #e64626;
}

.card-usyd > .card-footer,
.panel-usyd > .panel-footer {
  color: #fff;
  background-color: #e64626;
  border-color: #e64626;
}

.card-usyd > .card-thumbnail img.media {
  border-color: #e64626;
}

.panel-usyd > .panel-heading+.panel-collapse > .panel-body {
  border-top-color: #e64626;
}

.bg-usyd-grey {
  background-color: #363636
}

.bg-usyd-orange {
  background-color: #e64626;
}

.text-light {
  color: #fff;
}

/*USYD DARK*/
.card-usyd-dark,
.panel-usyd-dark {
  border-color: #e64626;
}

.card-usyd-dark > .card-heading,
.panel-usyd-dark > .panel-heading {
  color: #fff;
  background-color: #363636;
  border-color: #e64626;
}

.card-usyd-dark > .card-footer,
.panel-usyd-dark > .panel-footer {
  color: #fff;
  background-color: #363636;
  border-color: #e64626;
}

.card-usyd-dark > .card-thumbnail img.media {
  border-color: #e64626;
}

.panel-usyd-dark > .panel-heading+.panel-collapse > .panel-body {
  border-top-color: #e64626;
}

/*DARK*/
.card-dark,
.panel-dark {
  border-color: #363636;
}

.card-dark > .card-heading,
.panel-dark > .panel-heading {
  color: #fff;
  background-color: #363636;
  border-color: #363636;
}

.card-dark > .card-footer,
.panel-dark > .panel-footer {
  color: #fff;
  background-color: #363636;
  border-color: #363636;
}

.card-dark > .card-thumbnail img.media {
  border-color: #363636;;
}

.panel-dark > .panel-heading+.panel-collapse > .panel-body {
  border-top-color: #363636;;
}

/*Pagenav*/
.bs-wrap-pagenav {
  text-align: center;
  margin-top: 90px;
}

.bs-wrap-pagenav>a,
.bs-wrap-pagenav>button {
  margin: 5px;
}


.bs-wrap-pagenav .prev {
   margin-right: 50px;
}
.bs-wrap-pagenav .next {
   margin-left: 50px;
}

@media (max-width: 576px) {
  .bs-wrap-pagenav-desc {
    display: none;
  }
}